<!doctype html>

<html lang="en">

<head>
<meta charset="utf-8">

<title>Bulk Add CSV UI</title>
<meta name="description" content="Interface for the Bulk Add CSV Shimmie2 extension">
<meta name="author" content="kusubooru">

<link rel="stylesheet" href="static/css/styles.css">

<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<form action="/update" method="POST">
	{{ $inputSize := 60 }}
	{{ $taRows := 6 }}
	{{ if .Err }}
	<div id="err">
		{{ .Err }}
	</div>
	{{ end }}
	<input id="saveCSVSubmit" type="submit" value="Save to CSV">
	<label for="csvFilenameInput"><b>CSV Filename</b></label>
	<br>
	<input id="csvFilenameInput" type="text" name="csvFilename" value="{{ .CSVFilename }}" size="{{ $inputSize }}">
	<br>
	<label for="directory"><b>Local Directory</b></label>
	<br>
	<input id="directory" type="text" name="prefix" value="{{ .Dir }}" disabled size="{{ $inputSize }}">
	<br>
	<label for="prefixInput"><b>Server Path Prefix</b> (It will replace local directory prefix)</label>
	<br>
	<input id="prefixInput" type="text" name="prefix" value="{{ .Prefix }}" size="{{ $inputSize }}">

	<section>
		<h2>Images</h2>
		{{ range .Images }}

		<article>
			<h3>{{ .Name }}</h3>
			<img src="/img/{{ .Name }}" alt="{{ .Name }}">


			<fieldset>
				<legend>{{ .Name }}</legend>
				<label for="tagsTextArea{{ .ID }}"><b>Tags</b></label>
				<br>
				<textarea id="tagsTextArea{{ .ID }}" name="image[{{ .ID }}].tags" cols="{{ $inputSize }}" rows="{{ $taRows }}">{{ .Tags }}</textarea>
				<br>
				<label for="sourceInput{{ .ID }}"><b>Source</b></label>
				<br>
				<input id="sourceInput{{ .ID }}" type="text" name="image[{{ .ID }}].source" value="{{ .Source }}" size="{{ $inputSize }}">
				<br>
				<label><b>Rating</b></label>
				<br>
				<input id="sRadio{{ .ID }}" type="radio" name="image[{{ .ID }}].rating" value="s" {{ if eq .Rating "s" }}checked{{ end }}>
				<label for="sRadio{{ .ID }}">Safe</label>
				<input id="qRadio{{ .ID }}" type="radio" name="image[{{ .ID }}].rating" value="q" {{ if eq .Rating "q" }}checked{{ end }}>
				<label for="qRadio{{ .ID }}">Questionable</label>
				<input id="eRadio{{ .ID }}" type="radio" name="image[{{ .ID }}].rating" value="e" {{ if eq .Rating "e" }}checked{{ end }}>
				<label for="eRadio{{ .ID }}">Explicit</label>
			</fieldset>
		</article>

		{{ end }}
	</section>
</form>
<script src="static/js/scripts.js"></script>
</body>

</html>
