{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tagaa {{printv .Version}}</title>
    <meta name="description" content="Interface for the 'Bulk Add CSV' Shimmie2 extension">
    <meta name="author" content="kusubooru">

    <style>
      html {
        font-family: sans-serif;
      }
      input {
        margin-bottom: 0.6em;
      }
      .block {
        display: block;
        padding: 15px;
        margin-bottom: 10px;
      }
      .block-danger {
        background: #f2dede;
        color: #333;
      }
      .block-success {
        background: #dff0d8;
        color: #333;
      }
      h1 small {
        font-size:65%;
        color:#777;
      }
      nav {
        margin-bottom: 1em;
      }

      .loader {
        display: none;
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #006FFA;
        border-right: 5px solid #006FFA;
        width: 32px;
        height: 32px;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        will-change: transform;
      }
      .loader-small {
        width: 8px;
        height: 8px;
        border-width: 3px;
      }
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.css" />
    {{ template "style" . }}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <h1>Tagaa <small>{{printv .Version}}</small></h1>
    {{ template "content" . }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/awesomplete/1.1.2/awesomplete.min.js"></script>
    {{ template "script" . }}
  </body>
</html>
{{ end }}
{{ define "style" }}{{end}}
{{ define "script" }}{{end}}
