{{ define "layout" }}
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">

<title>local-tagger{{.Version}}</title>
<meta name="description" content="Interface for the 'Bulk Add CSV' Shimmie2 extension">
<meta name="author" content="kusubooru">

<style>
html {
	font-family: sans-serif;
}
input {
	margin-bottom: 0.6em;
}
#err {
	background: #f2dede;
	display: block;
	padding: 15px;
	margin-bottom: 10px;
	color: #333;
}
h1 small {
	font-size:65%;
	color:#777;
}
</style>
{{ template "style" . }}

<!--[if lt IE 9]>
	    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<h1>local-tagger <small>v{{.Version}}</small></h1>
{{ template "content" . }}
<script></script>
{{ template "script" . }}
</body>

</html>
{{ end }}
{{ define "style" }}{{end}}
{{ define "script" }}{{end}}
